myproject/e2e-1201-composites/ValidatePayment/SOA/WSDLs/PaymentInformations.wsdl

<wsdl:definitions
     name="PaymentInformations"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/e2e-1201-orderprocessing/ValidatePayment/PaymentInformations"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/e2e-1201-orderprocessing/ValidatePayment/PaymentInformations"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/PaymentInformations"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="PaymentInformations_plt" >
    <plt:role name="PaymentInformations_role" >
      <plt:portType name="tns:PaymentInformations_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/PaymentInformations" schemaLocation="../Schemas/PaymentInformations_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:PaymentinfoPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="PaymentinfoCollection_msg">
        <wsdl:part name="PaymentinfoCollection" element="top:PaymentinfoCollection"/>
    </wsdl:message>
    <wsdl:portType name="PaymentInformations_ptt">
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:PaymentinfoCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="cardNotFound"/>
</wsdl:definitions>
